@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.card {
    z-index: 0;
}

body > .wrapper {
    margin: 10px;
}

.op {
    opacity: 0%;
}

img.w {
    width: 50vw;
    max-width: 450px;
}

nav .navbar-brand {
    font-size: clamp(2vh, 1.5rem, 5vh);

    border-right: 0.1rem white solid;
    padding-right: 1rem;
    margin-right: 1rem;
}

form input[type="text"], form select, form input[type="number"] {
    text-align: center;
}

div.wrapper nav.nav-tabs {
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

nav.nav-tabs > a {
    display: inline-block;
}

nav.bg-primary .nav-item {
    color: white;
}

form#quest .form-group {
    text-align: left;
}

body {
    --radius: 0.75rem;
}

#container-test {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

#container-article {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

@media screen and (max-width: 768px) {
    #container-test {
        border-radius: var(--radius);
    }
    #container-article {
        border-radius: var(--radius);
    }
}

#container-issues {
    border-radius: var(--radius);
}